#c++

cpp-core/**/x64/
cpp-core/**/Debug/
cpp-core/**/Release/


#python 

python-ml/venv/
python-ml/__pycache__/

# java
java-backend/target/

# vs
.vs/
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
ipch/
*.ipch
*.suo
*.user
*.userosscache
*.sln.docstates
DocumentLayout.json


# secrets

.env
.env.local


# os
.DS_Store
Thumbs.db
